<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Writing App</title>
    <style>
        body {
            background-color: #f0f0f0; /* Set a nice background color */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Set the height of the body to fill the viewport */
            margin: 0; /* Remove default margin */
            padding: 0; /* Remove default padding */
        }

        #content {
            width: 50%; /* Set the width of the textarea */
        }
    </style>
</head>
<body>
    <textarea id="content" rows="10" cols="50"></textarea>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
